<div class="home-container">
    <div class="contenedorlogo">
        <img src="./../assets/images/logo.png" alt="logocriptocapital  ">
    </div>
    
    
    <div class="textohome">
        <h1>FORMACIÓN CRIPTOCAPITAL "insertar texto aquí"</h1>
        <h2>Aprender sobre "inserte texto aquí - espacio libre"</h2>
    </div>

    <div class="boton"> 
        <a href="#Ventas" >COMPRA AHORA</a>
    </div>
</div>



<div class="info-container">
    <div class="titulo-info">
        <h1>TITULO</h1>
    </div>
    <section class="contenedor-info-flex">
       <div class="img-info">
            <img src="./../assets/images/junta.jpg" alt="">
       </div>
       <div class="texto-info">
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Adipisci magnam consectetur fuga laboriosam officiis, maiores 
            totam ex et, magni libero, nisi soluta repudiandae iste. Expedita 
            voluptatibus illum quos similique cumque. Lorem ipsum dolor sit, 
            amet consectetur adipisicing elit. Tempora esse ipsam dolores sapiente 
            odio mollitia veritatis consectetur quam id! Blanditiis et qui, voluptas 
            recusandae autem numquam consectetur adipisci totam cumque!</h2>
   </div>
    </section>
</div>

<div class="venta-container" id="Ventas">
    <div>
        <div class="venta1">
            <h1>Para <span style="color:#F0B742;">unirte</span> a nuestro equipo 
                son <span style="color:rgb(49, 196, 164);">$150 USD un pago único.</span> Incluye 
                acceso a nuestro <span style="color:#F0B742;"> entrenamiento </span> donde 
                aprenderás a hacer todo desde 0.
            </h1>
            
            <div class="pago100USD">
                <h4> <img src="./../assets/images/car.png" alt=""> ANTES<br> 150 USD</h4>
                <a href="" target="_blank"> <img src="./../assets/images/car.png" alt="">AHORA <br> 100 USD</a>
            </div>
            <div class="imgpago">
                <img class="img" src="./../assets/images/pago.png" alt="">
            </div>
            <h6>(Oferta por tiempo limitado)</h6>
        </div>

        <div class="venta2">
            <h1>Para mantenerte activo en nuestro frupo de  Telegram
                son <span style="color:rgb(49, 196, 164);">$50 USD por mes</span>
                <span style="color:#F0B742;">. Recibirás</span> nuestras
                alertas diarias de cuando comprar y cuando vender.
            </h1>
            <div class="pago150USD">
                <a href="" target="_blank"> <img src="./../assets/images/car.png" alt="">PAGA <br> 150 USD</a>
            </div>
            <div class="imgpago">
                <img class="img" src="./../assets/images/pago.png" alt="">
            </div>
        </div>

        <div class="venta3">
            <h1>O elige nuestro plan élite <img src="./../assets/images/trofeo.png" alt=""> por
                <span style="color: rgb(49, 196, 164);"> $300 USD un pago único</span>  por el entrenamiento
                y los grupos.
            </h1>
            <div class="pago300USD">
                <a href="" target="_blank"> <img src="./../assets/images/car.png" alt="">PAGA<br> 300 USD</a>
            </div>
            <div class="imgpago">
                <img src="./../assets/images/pago.png" alt="">
            </div>
        </div>
    </div>
</div>

<footer>
    <h1> &copy; Copyright 2021</h1>
</footer>
