<div class="home-container">
    <div class="contenedorlogo">
        <img src="./../assets/images/logo.png" alt="logocriptocapital  ">
    </div>


    <div class="textohome">
        <h1 class="mb-0">ACADEMIA</h1>
        <h1 class="mt-0">CRIPTO CAPITAL</h1>
        <h2>Aprende a vivir de las criptomonedas</h2>
    </div>

    <div class="boton">
        <a href="#Ventas">COMPRA AHORA</a>
    </div>
</div>



<div class="info-container">
    <div class="titulo-info">
        <h1>¿QUÉ ES EL GESTOR DE CRIPTOMONEDAS?</h1>
    </div>
    <section class="contenedor-info-flex">
        <div class="img-info">
            <img src="./../assets/images/junta.jpg" alt="">
        </div>
        <div class="texto-info">
            <h2>
                El Gestor de Criptomonedas es el curso intensivo
                sobre criptomonedas más avanzado de habla hispana.
                En tan solo 4 meses te llevaremos a niveles de conocimiento
                que harán que puedas vivir de las criptomonedas.
                ¿Quieres gestionar capital tu capital de la forma más profesional?
                ¿Quieres aprender todas las estrategias posibles de inversión en criptomonedas?
                ¿Buscas otra fuente de ingresos y crees que las criptomonedas es tu solución igual
                que la de otros miles de personas en España ?¿Quieres entender
                el ecosistema crypto al más alto nivel?
                ¿Quieres formarte con los mejores del sector y
                formar parte una gran red de información formada
                por grandes apasionados del sector?
            </h2>
        </div>
    </section>
</div>

<div class="venta-container" id="Ventas">
    <div>
        <div class="venta1">
            <h1>Para <span style="color:#F0B742;">unirte</span> a nuestro equipo
                son <span style="color:rgb(49, 196, 164);">$150 USD un pago único.</span> Incluye
                acceso a nuestro <span style="color:#F0B742;"> entrenamiento </span> donde
                aprenderás a hacer todo desde 0.
            </h1>

            <h1>Para mantenerte activo en nuestro grupo de Telegram
                son <span style="color:rgb(49, 196, 164);">$50 USD por mes.</span>
                <span style="color:#F0B742;"> Recibirás</span> nuestras
                alertas diarias de cuando comprar y cuando vender.
            </h1>

            <div class="pago100USD">
                <h4> <img src="./../assets/images/car.png" alt=""> ANTES<br> 150 USD</h4>
                <a href="https://www.paypal.com/invoice/p/#GUPUSBKNGWSWGTL9" target="_blank"> <img
                        src="./../assets/images/car.png" alt="">AHORA <br> 100 USD</a>
            </div>
            <div class="imgpago">
                <img class="img" src="./../assets/images/pago.png" alt="">
            </div>
            <h6>(Oferta por tiempo limitado)</h6>
        </div>

        <div class="venta3">
            <h1>O elige nuestro plan élite <img src="./../assets/images/trofeo.png" alt=""> por
                <span style="color: rgb(49, 196, 164);"> $300 USD un pago único</span> por todo
                acceso al entrenamiento y a nuestros grupos de por vida, recibirás nuestras alertas a diario
                de cuando comprar, de cuando vender, el chat de preguntas y dudas y al chat de trading y gráficas
            </h1>

            <h1>

            </h1>
            <div class="pago300USD">
                <a href="https://www.paypal.com/invoice/p/#NYBGXQ88N7W9CJE9" target="_blank"> <img
                        src="./../assets/images/car.png" alt="">PAGA<br> 300 USD</a>
            </div>
            <div class="imgpago">
                <img src="./../assets/images/pago.png" alt="">
            </div>
        </div>

        <div class="venta2">
            <h1>Al hacer la compra, enviame un mensaje!</h1>

            <a href="https://instagram.com/criptocapitalbusiness?utm_medium=copy_link" target="_blank">
                <img src="./../assets/images/instagram.png" alt="">
                @criptocapitalbusiness
            </a>
        </div>
    </div>
</div>

<footer>
    <h1> &copy; Copyright 2021</h1>
</footer>